* {
    font-family: "Poppins", sans-serif;

}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
  
     background: lightcyan;
    padding: 2rem;
   height: 100vh;
    border-radius: 12px;
}
input{
    
    padding: 5px;
    border: 2px solid;
    font-size: 1em;
    width: 100%;
}

button{
    margin-top: 1rem;
     background-color: #2563eb;
    color: white;
    padding: 6px;
    font-size: 1em;
    border: none;
    
 width: 100px;
    font-weight: 500;
}
button:hover{
    background-color: #1848af;
}