 
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
 body {
      margin: 0;
      height: 100vh;
      background: skyblue;
      overflow: hidden;
      /* position: relative; */
    }

    .plane {
      position: absolute;
      width: 120px;
      bottom: 0;
      left: 0;
      cursor: pointer;
      /* transform: rotate(0deg); */
      transition: transform 3s ease-in-out;
    }

    body:hover .plane{
      transform: translate(85vw, -85vh) ;
    }