*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
    font-family: "Poppins", sans-serif;
}
.container {
  max-width: 600px;
  margin: 3rem auto;
  padding: 3rem;
  background-color: white;
  border: 2px solid #e0e0e0;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}
#option{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
#quiz{
   
}
#question{
    border: 2px solid ;
    border-radius: 5px;
    padding: 0.5rem;
    margin: 0.5rem;
    
    background-color: white;
}
button{
    margin-top: 1rem;
    padding: 0.7rem ;
    width: 30%;
    /* border-style: none; */
    color: white;
    background-color: rgba(5, 5, 116, 0.811);
}
#option button:nth-child(5) {
  background-color: rgba(255, 3, 3, 0.811);
  color: white;
  align-self: flex-end;
}