* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     font-family: "Poppins", sans-serif;
}

body {
   
    line-height: 1.6;
    color: #333333;
    background-color: #FFFFFF;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: #FF7F50;
    color: #fff;
    box-shadow: 0 0 0 transparent;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.nav ul {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav ul li {
    margin-left: 20px;
}

.nav ul li a {
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
   
}

.nav ul li a:hover {
    background-color: rgb(245, 236, 236);
    color: black;
    text-decoration: none;
}


.hero {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    background-color: #FF7F50;
    padding-bottom: 20px;
}

.hero-text h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero-text h2 {
    font-size: 2em;
    font-weight: bold;
    margin: 40px 0 10px;
}

.hero-text p {
    font-size: 1.1em;
}

.recipe {
    padding: 40px 5%;
    text-align: center;
    background-color: #F8F8F8;
}

.recipe h2 {
    color: #333;
    margin-bottom: 30px;
}

.recipe-box {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    text-align: left;
    margin: 50px;
    flex-wrap: wrap;
    align-items: flex-start;
    background: #fff;
    padding: 40px;
}

.recipe-img {
    width: 20rem;
    height: auto;
    align-self: center;
    border-radius: 10px;
}

.recipe-info {
    /* flex: 1; */
    min-width: 0;
    margin-left: 2rem;
}

.nutrition {
    flex: 1;
    min-width: 0;
    margin-left: 2rem;
}

.list-block h3,
.nutrition h3 {
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 15px;
    color: #333;
}

.list-block ul,
.list-block ol {
    margin-left: 20px;
    list-style-position: inside;
}

.nutrition{
        border-bottom: 2px solid #ccc;

}
.nutrition table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    
}

.nutrition th,
.nutrition td {
    
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.nutrition th {
    background-color: #f2f2f2;
    color:  #FF7F50;;
}



.gallery {
    
    padding: 40px 5%;
    text-align: center;
    background-color: #F8F8F8;
}

.gallery h2 {
    color: #333;
    margin-bottom: 30px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    max-width: 1000px;
    margin: 0 auto;
}

.box {
    width: 100%;
    aspect-ratio: 1 / 1;  
    overflow: hidden;
    border-radius: 6px;
}

.box img {
    width: 100%;
    height: 100%;
    object-fit: cover;     
    display: block;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 2s;
   
}
.box img:hover{
    transform: scale(1.2);
}


.footer {
    background-color: #F8F8F8;
    color: black;
    padding: 40px 5%;
    text-align: center;
}

.subscribe {
    max-width: 600px;
    margin: 0 auto 30px;
    padding: 20px;
    border-bottom: 1px solid #777;
}

.subscribe h2 {
    margin-bottom: 20px;
}

.subscribe form {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
    min-width: 200px;
}

.field label {
    font-weight: bold;
    margin-bottom: 5px;
}

.field input {
    padding: 10px;
    border: none;
    border-radius: 3px;
    width: 100%;
}

.btn {
    background-color: #FF7F50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 3px;
    align-self: flex-end;
    height: 40px;
}
.btn:hover{
    background-color:#ef5a24 ;
    color: black;
}
.copy{
    background-color: black;
     color: white;
     width: 100%;
     padding: 2rem;
}
.copy h3 {
    font-size: 1.2em;
   
    font-weight: bold;
    margin-bottom: 10px;
}


@media (max-width: 800px) {
    .header {
        flex-direction: column;
        text-align: center;
        
    }
.hero{
    padding: 10px;
    height: 400px;
}
    .nav ul {
        flex-direction: column;
        padding-top: 10px;
    }

    .nav ul li {
        margin: 5px 0;
    }

    .recipe-box {
        flex-direction: column;
        gap: 20px;
        margin: 20px 0;
        width: 100%;
        padding: 20px;
    }

    .recipe-info,
    .nutrition {
        margin-left: 0;
        width: 100%;
    }

    .recipe-img {
        width: 15rem;
        margin: 0 auto;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .btn{
        width: 100%;
    }
}
